div {
    margin-top: 250px;
}

.btn-outline {
    text-decoration: none;
    font-size: lem;
    color: rgb(255, 60, 190);
    margin: 0 0 0 588px;
    padding: 10px 30px;
    border: 2px solid rgb(255, 60, 190);
    position: relative;
    transition: .5s;
    width: 72px;
    height: 19px;
    display: flex;
    justify-content: center;
}

.btn-outline::before,
.btn-outline::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: .5s;
}

.btn-outline::before {
    top: -10px;
    left: -10px;
    border-width: 2px 0 0 2px;
}

.btn-outline::after {
    bottom: -10px;
    right: -10px;
    border-width: 0 2px 2px 0;
}

.btn-outline:hover::before,
.btn-outline:hover::after {
    width: calc(100% + 18px);
    height: calc(100% + 18px);
}